.nodes{
  display: flex;
  flex-wrap: wrap;
}

.teambox {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  margin: 3px;
}

.teambox h2 {
  text-align: center;
}

.teambox a {
  text-decoration: none;
}

.nodebox {
  border: 1px solid gray;
  background-color: #e0e0e0;
  padding: 10px;
  margin: 10px;
  font-family: sans;
}

.nodebox-ok{
  background-color: #e0f0e0;
}
.nodebox-warning{
  background-color: #ffffd0;
}
.nodebox-error{
  background-color: #ffe0e0;
}

.nodeid {
  font-weight: bold;
  font-size: x-large;
  color: #303030;
}

.lastreport {
  color: #507050;
}

.lastreport-old {
  color: #a00000;
}

.keytable {
    border-style: none;
    padding:10px;
}

.keytable tr:nth-child(even) { background-color: #e0e0e0; }
.keytable tr.r1 { font-weight: bold; border-bottom: 2px solid black; }

.keytable td{
    padding: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
    border-color: #dddddd;
}



